---
import Image from "astro/components/Image.astro"
import logo from "public/logo.webp"
import SectionContainer from "@/components/SectionContainer.astro"
import { getI18N } from "@/i18n/"
import Layout from "@/layouts/Layout.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const { title, description } = i18n.seo
const { code, message, context, back } = i18n.error
---

<Layout description={description} title={title}>
	<main class="px-4">
		<SectionContainer id={i18n.error.id} class="mt-14 flex flex-col items-center gap-y-8">
			<div class="flex flex-col items-center justify-center md:flex-row">
				<a href="/" class="mb-8 md:mb-0 md:mr-12">
					<Image
						src={logo}
						alt="dvelandia logo"
						width={200}
						height={200}
						class="h-auto w-[200px] md:w-[300px]"
					/>
				</a>
				<div class="text-center md:text-left">
					<h1 class="mb-6 text-4xl font-bold uppercase md:text-5xl">
						{code}
					</h1>
					<h2 class="mb-4 text-lg font-medium uppercase text-primary-400 md:text-2xl">
						{message}
					</h2>
					<p class="mb-6 max-w-md text-lg text-gray-600 dark:text-gray-300">{context}</p>
				</div>
			</div>
			<a
				href="/"
				class="h-9 px-4 py-2 text-lg font-medium underline-offset-4 hover:underline"
				aria-label={back}
			>
				{back}
			</a>
		</SectionContainer>
	</main>
</Layout>
