---
import Icon from "@/components/ui/Icon.astro"
import Link from "@/icons/Link.astro"

interface Props {
	icon: string
	title: string
	link: string
	company: string
	date: string
	description: string
}

const { icon, title, link, company, date, description } = Astro.props
---

<span
	class="absolute -left-3 flex h-6 w-6 items-center justify-center rounded-full border border-dark-400 bg-white dark:border-dark-700"
>
	<Icon name={icon} class="h-4 w-4" aria-label={`Icono de ${icon}`} />
</span>

<h3
	class="group mb-1 flex items-center gap-2 text-lg font-semibold text-primary-700 dark:text-primary-400"
>
	{title}
	<span class="text-dark font-normal dark:text-white">-</span>
	{
		link ? (
			<a
				href={link}
				target="_blank"
				rel="noopener noreferrer"
				class="text-sm text-crusta-800 dark:text-crusta-300/90"
			>
				{company}
				<Link class="inline-block h-4 w-4 shrink-0 translate-y-px transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:scale-125 motion-reduce:transition-none" />
			</a>
		) : (
			<span class="text-sm text-crusta-800 dark:text-crusta-300/90">{company}</span>
		)
	}
</h3>
<span class="mb-2 block text-sm font-normal leading-none text-primary-950 dark:text-primary-200/90">
	{date}
</span>
<p class="mb-4 text-pretty text-base font-normal text-gray-600 dark:text-gray-300">
	{description}
</p>
